<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>我的简历</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="author" content="nurealam sabbir"/>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <!--fonts
    ====================================================-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700%7cOswald:400,700" rel="stylesheet"/>
    <!--stylesheets
    ====================================================-->
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css"/>
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" href="/static/css/simpletextrotator.css"
          th:href="@{/css/simpletextrotator.css}"/>

    <script src="/static/js/jquery.min.js" th:href="@{/js/jquery.min.js}"></script> <!-- JQUERY -->
    <script type="text/javascript" src="/static/js/jQueryTween-aio-min.js"></script> <!-- JQUERY Tween Plugin -->
    <script type="text/javascript" src="/static/js/jquery.tabslet.min.js"></script> <!-- JQUERY Tab plugin-->
    <script type="text/javascript" src="/static/js/progressbar.min.js"></script> <!-- JQUERY Progressbar Plugin-->
    <script type="text/javascript" src="/static/js/jquery.simple-text-rotator.min.js"></script>
    <!-- JQUERY Text Rotator-->
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script> <!-- Bootstrap file-->
    <script src="http://ditu.google.cn/maps/api/js?key=AIzaSyBPNkCVoBW_Jzl6x-hgGU6e7QW1QMwKles"></script>
    <script type="text/javascript" src='/static/js/isotope.pkgd.min.js'></script>
    <!--SCRIPTS FOR PORTFOLIO IMAGE'S ANIMATION-->
    <script src="/static/js/person-common.js"></script>
    <link href="/static/css/animate.min.css" rel="stylesheet"/>
    <link href="/static/css/style.min.css" rel="stylesheet"/>
</head>
</html>