<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<body>
<aside  th:fragment="sidebar">

    <!--&lt;!&ndash;PORTFOLIO IMAGE MODAL LIST&ndash;&gt;-->
    <!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->
    <!--<div class="modal-header">-->
    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
    <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>&lt;!&ndash;PORTFOLIO IMAGE TITLE&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="modal-body">-->
    <!--<img src="images/folio/logs.jpg" class="img-responsive" alt="modal-image">&lt;!&ndash;PORTFOLIO MODAL IMAGE&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
    <!--<div class="mf-content">-->
    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis temporibus fuga sit explicabo blanditiis voluptate iste vero quia impedit? Iusto illo voluptas est praesentium veritatis magni, pariatur laboriosam voluptatem inventore.</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->

    <!--<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">-->
    <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->
    <!--<div class="modal-header">-->
    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
    <!--<h4 class="modal-title" id="myModalLabel2">Hover Style</h4>&lt;!&ndash;PORTFOLIO IMAGE TITLE&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="modal-body">-->
    <!--<img src="images/folio/book.jpg" class="img-responsive" alt="modal-image">&lt;!&ndash;PORTFOLIO MODAL IMAGE&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
    <!--<div class="mf-content">-->
    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel sapiente, odit, illo saepe voluptate eos enim eius autem cumque ab, soluta dolor tempore inventore eligendi maxime voluptas pariatur explicabo blanditiis?</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->

    <!--<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">-->
    <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->
    <!--<div class="modal-header">-->
    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
    <!--<h4 class="modal-title" id="myModalLabel3">Hover Style</h4>&lt;!&ndash;PORTFOLIO IMAGE TITLE&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="modal-body">-->
    <!--<img src="images/folio/guy.jpg" class="img-responsive" alt="modal-image">&lt;!&ndash;PORTFOLIO MODAL IMAGE&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
    <!--<div class="mf-content">-->
    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ratione quae, alias at. Reprehenderit, ut quis corporis laudantium, laborum sed omnis qui perspiciatis explicabo. Ipsum culpa aspernatur dolorem. Amet, quis.</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->

    <!--<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">-->
    <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->
    <!--<div class="modal-header">-->
    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
    <!--<h4 class="modal-title" id="myModalLabel4">Hover Style</h4>&lt;!&ndash;PORTFOLIO IMAGE TITLE&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="modal-body">-->
    <!--<img src="images/folio/illustration.jpg" class="img-responsive" alt="modal-image">&lt;!&ndash;PORTFOLIO MODAL IMAGE&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
    <!--<div class="mf-content">-->
    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ab id unde veniam error et iste ut aspernatur accusantium porro molestiae voluptatibus rem, tempore inventore ad minus soluta praesentium magni?</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->

    <!--<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel5" aria-hidden="true">-->
    <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->
    <!--<div class="modal-header">-->
    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
    <!--<h4 class="modal-title" id="myModalLabel5">Hover Style</h4>&lt;!&ndash;PORTFOLIO IMAGE TITLE&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="modal-body">-->
    <!--<img src="images/folio/beach.jpg" class="img-responsive" alt="modal-image">&lt;!&ndash;PORTFOLIO MODAL IMAGE&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
    <!--<div class="mf-content">-->
    <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam amet placeat porro, maxime corrupti laboriosam, quod nulla perferendis esse ipsa atque deleniti. Magni molestias, nemo illum eos, exercitationem neque incidunt.</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->

    <!--<div class="modal fade" id="subscribe_modal_1" tabindex="-1" role="dialog" aria-labelledby="subscribe_modal_1" aria-hidden="true">-->
    <!--<div class="modal-dialog">-->
    <!--<div class="modal-content">-->
    <!--<div class="modal-header">-->
    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
    <!--<h2 class="modal-title">Thank You</h2>&lt;!&ndash;PORTFOLIO IMAGE TITLE&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="modal-body">-->
    <!--<div class="text-center mail-sucsess"><h3> <span>your mail has been sent</span></h3></div>-->
    <!--</div>-->
    <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->

</aside>
</body>
</html>