<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<body>
<aside th:fragment="contact">
    <li id="resume">
        <div class="title-container">
            <div class="shadow-img"></div>
            <h2 class="rotate-out"><span class="invert">项目简介</span> </h2> <!--RESUME TITLE-->
        </div>
        <div class="description">
         <div class="row">
             <div class="panel-group" id="accordion">
                    <div class="panel panel-inverse overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false">
                                    <i class="fa fa-plus-circle pull-right"></i>
                                   技术架构
                                </a>
                            </h3>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                11
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-inverse overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false">
                                    <i class="fa fa-plus-circle pull-right"></i>
                                    实现功能
                                </a>
                            </h3>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false">
                            <div class="panel-body">
                                11
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </li><!--/#contact-->
</aside>
</body>
</html>