<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<body>
<aside  th:fragment="home">
    <!--HOME/PROFILE PAGE-->
    <li id="home" class="selected">
        <div class="title-container ">
            <div class="shadow-img"></div>
            <h2 class="rotate-out"><span class="invert">我的简介</span> </h2> <!--RESUME TITLE-->
        </div>
        <div class="description ">
            <div class="watermark-home"></div>
            <div class="fade-text transparent">
                <!--DESCRIPTION ON HOME-->
                <div class="strong-text"><span>人生 格言</span></div>
                <div class="focus-text"><span>沉舟侧畔千帆过，病树前头万木春！ </span><span></span></div>
                <p class="large-paragraph"></p>

                <h3 class="personal-info-title title">个人信息</h3>
                <ul class="personal-info">
                    <li class="rotate-out "><label>姓名</label><span>杨天峰</span></li>
                    <li class="rotate-out "><label>性别</label><span>男</span></li>
                    <li class="rotate-out "><label>地址</label><span>北京昌平</span></li>
                    <li class="rotate-out "><label>Email</label><span>909983218@qq.com</span></li>
                    <li class="rotate-out "><label>电话</label><span>188888888</span></li>
                </ul>
            </div>
        </div>
    </li>
</aside>
</body>
</html>