<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/part/head :: head"></head>
<body>
<!-- logo start -->
<div class="logocontainer">
    <div class="row">
        <h1><a href="#">Matrix</a></h1>
        <div class="clear"></div>
        <div class="templatemo_smalltitle">Free HTML5 Template</div>
    </div>
</div>
<!-- logo end -->
<div id="menu-container" class="main_menu">
    <!-- homepage start -->
    <div class="content homepage">
        <div class="container">
            <div class="col-md-3 col-sm-6 templatemo_leftgap">
                <div class="templatemo_mainservice templatemo_botgap">
                    <div class="templatemo_link"><a href="#">我的博客</a></div>
                </div>
                <div class="templatemo_mainimg"><img src="../static/images/templatemo_home1.jpg" th:src="@{/images/templatemo_home1.jpg}" alt="home img 01"/></div>
            </div>
            <div class="col-md-3 col-sm-6 templatemo_leftgap">
                <div class="templatemo_mainimg templatemo_botgap templatemo_portfotopgap"><img
                        src="../static/images/templatemo_home2.jpg"  th:src="@{/images/templatemo_home2.jpg}" alt="home img 02"/></div>
                <div class="templatemo_mainportfolio">
                    <div class="templatemo_link"><a class="show-3 templatemo_page3" href="#">我的文章</a></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 templatemo_leftgap">
                <div class="templatemo_maintesti templatemo_botgap templatemo_topgap">
                    <div class="templatemo_link"><a class="show-4 templatemo_page4" href="/person" >我的简介</a></div>
                </div>
                <div class="templatemo_mainimg"><img src="../static/images/templatemo_home3.jpg" th:src="@{/images/templatemo_home3.jpg}" alt="home img 03"/></div>
            </div>
            <div class="col-md-3 col-sm-6 templatemo_leftgap">
                <div class="templatemo_mainimg templatemo_botgap templatemo_topgap">
                    <img src="../static/images/templatemo_home4.jpg" th:src="@{/images/templatemo_home4.jpg}" alt="home img 04"/>
                </div>
                <div class="templatemo_mainabout templatemo_botgap">
                    <div class="templatemo_link"><a href="#">我的简介</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- logo end -->


</body>
</html>