<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/part/person-head :: head"></head>
<body>
<div class="container">
    <div id="content" class="row" >
        <div th:replace="/part/person-aside::aside" ></div>

        <div class="col-sm-8 page-segment">
            <ul class="page-container no-padding">
                <div id="main">

                </div>
            </ul>
        </div>
    </div>
</div>
<script src="/static/js/person.js"></script>
<script >
    $(document).ready(function() {
        $("#main").load("/templates/part/person-home.html",function() {

        });
        page.init();
    });
</script>
</body>
</html>